---

- name: git clone ARDB
  git:
    repo: https://github.com/yinqiwen/ardb.git
    dest: "{{ ardb_root }}"
    version: "{{ ardb_version | default('v0.9.7') }}"
  ignore_errors: true

- name: build ARDB
  command: make
  args:
    chdir: "{{ ardb_root }}"
    creates: "{{ ardb_root }}/src/ardb-repair"
  async: 1800
  poll: 60
