## /etc/supervisor/conf.d/ail-redis-leveldb2013.conf
{{ ansible_managed | comment }}
[program:ail-redis-leveldb2013]
command=redis-leveldb -H '{{ ail_redislvdbhost }}' -D '{{ ail_redislvdbdir }}/2013/' -P 2013 -M '{{ ail_redislvdb_nb_db }}'
directory={{ ail_root }}
user={{ ail_user }}
stdout_logfile=/var/log/supervisor/ail-redis-leveldb2013.log
redirect_stderr=true
autostart=true
autorestart=true
startsecs=10
environment=AIL_HOME="{{ ail_root }}",AIL_BIN="{{ ail_root }}/bin",AIL_FLASK="{{ ail_root }}/var/www",AIL_REDIS="{{ ail_root }}/redis/src",AIL_LEVELDB="{{ ail_root }}/redis-leveldb",PATH="$AIL_LEVELDB:$AIL_REDIS:$AIL_HOME:$PATH",AILENV="{{ ail_root}}"

