## /etc/supervisor/conf.d/pystemonfeeder.conf
{{ ansible_managed | comment }}
[program:pystemonfeeder]
command={{ ail_root }}/bin/feeder/pystemon-feeder.py
directory={{ ail_root }}
user={{ ail_user }}
stdout_logfile=/var/log/supervisor/pystemon-feeder.log
redirect_stderr=true
autostart=true
autorestart=true
startsecs=10

